.form {
	width: auto;

	@include tablet {
		width: 100%;
	}
}

.form__inner {
	max-width: 520px;
	margin: 0 auto;
}

fieldset { 
	padding: 0;
	margin: 0;
	margin-bottom: 48px;
	border: none;
	outline: currentColor;
}


legend {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
}


.form__heading {
	margin-top: 22px;
	margin-bottom: 50px;
	text-align: center;

	&--narrow {
		margin-bottom: 0px;
	}

	&-text {
		display: block;
		font-size: 3rem;
		font-family: $ff-light;
		color: #1c1c1c;
	}
}



.form__icon {
	display: block;
	margin-bottom: 20px;
}

.form__explanation {
	margin-bottom: 36px;
	font-size: 1.6rem;
	font-family: $ff-light;
	line-height: 1.5;
	color: #1c1c1c;
}

.button-group {
	margin-bottom: 20px;
}

.form__btn {
	margin-top: 42px;
}