/**
 * Typography
 */
$ff-base: 'robotoregular', Arial, Helvetica, sans-serif;
$ff-thin: 'robotothin', Arial, Helvetica, sans-serif;
$ff-light: 'robotolight', Arial, Helvetica, sans-serif;


$font-size-base: 100%;
$line-height-base: 1.5;

/**
 * Colors
 */
$text-color: #000000;
$body-bg: #ffffff;